<html> 
	<% if @friends.empty? %>
	<header> You have no friends, try searching for friends </header>
	<% else %>
	<header> Friends are <%= @query %> </header>
	<ul>
		<% @friends.each do |friend| %>
			<li> <%= if friend.name.nil?  then friend.email.split('@').first else friend.name end %> </li>
			
			<%=	link_to 'remove',{:controller => 'friendships',
					:action => 'remove', 
					:friend_id => friend.id}, 
					class: "btn btn-danger" 	
			%>
			<%= link_to 'view feed', {:controller => 'users', :action => 'friends_feed', :id => User.find_by_email(friend.email).id}, 
				class: "btn"%>


		<% end %>	
	</ul>
	<% end %>
	<div> </div>
	<%= form_tag("search", :method => "get") do %>
	  <%= label_tag(:q, "Search for friends using name or email:") %>
	  <%= text_field_tag(:query, "", :style => "height:40px;") %>
	  <%= submit_tag("Search", :style => "height:40px") %>
	<% end %>

	<%= link_to 'Manage blocked friends', {:controller => 'users', :action => 'manage_blocked_friends'}, 
	class: "btn"%>
</html>
