<script type="text/javascript" charset="utf-8">
  //This is a method that will be called on viewing this page it gets the data that will be added to the graph + what's the start
   //point and also what is the interval between each two points default will be 1 day also it takes the names of the things it
   //view across time by default for an interest we will view no of users who added this interest, no of articles, no of videos and
   //no of images and then call method kl that will view the graph with the parameters already stated.
   
   //also this method gets the start date of data flow from get_interest_start_date method in interestshelper
  var $j = jQuery.noConflict();
  $j(document).ready(function() {
       //get The interests array of arrays of data
      data= <%= Interest.get_interest_stat(@id) %>;
      date= <%= Interest.get_interest_start_date(@id)%>
      if(date != -1) {
      //the graphs that we want to show
      names=["No Of Users","No Of Stories"];
      //the time interval between one point and another in the graph.
      pointInterval= <%= 1.day * 1000 %>;
      // Start point of the graph.
      pointStart= <%= Interest.get_interest_start_date(@id).days.ago.to_i * 1000 %>;
      //Label for x-axis 
      xl="Day"; 
      //Label for y-axis
      yl="Number";
      //Label for whole graph
      titleOfGraph="Interest Statistics";
      //call the method that renders the graph with the calculated parameters.
      document.getElementById("deletedInterest").style.display= "none"; 
      Graph(data,names,pointInterval,pointStart,xl,yl,titleOfGraph);  
      }else{
       document.getElementById("deletedInterest").style.display= "block";  
        document.getElementById("ccc").style.display= "none"; 
      }
   });
</script>
<div class="alert-error" id="deletedInterest" style="display: none;">
  
           <h3><strong>Warning!</strong> Interest was deleted a long time ago.</h3>
     </div> 
<!-- ccc is the id of the div that the graph would render to -->
<div style="float:up;">
<div id="ccc" style="width: 1230px; margin-left: 30px; float:left"></div>
<div class="span20">
            
            <!--Here we'll get the number of stories and users in an interest:-->
            <h4><div class="alert alert-info">Number of Stories:
            <%= Interest.get_interest_num_stories(@id) %>
            </div></h4>
            
            <h4><div class="alert alert-info">Number of Users:
            <%= Interest.get_total_num_user_added_interest(@id) %>
            </div></h4>
            

          </div>
</div>
<div style="padding-top:520px; padding-left:30px;">
  <%if @interest.get_users_added_interest.empty?%>
   <div class="alert-error" id="noUsersAdded" >
  
           <h3><strong>Warning!</strong> No User Added This Interest.</h3>
     </div> 
  <%else%>
  <h4><div class="alert alert-info"> 
              Users Who Added This Interest : </br>
             
            </div></h4>
<%@interest.get_users_added_interest.each do |user|%>
<div class="well-user-component">

        <a href="/users/<%= user.id%>"class="thumbnail-user-component">
        <% if user.image.nil? ||user.image == "" %>
               <%= image_tag "logo.jpeg", :size => "75x75" %>
        <% else %>
          <img src= "<%= user.image %>"  width="75" style="height:75px"/>
        <% end %> </a>
           
        <div class="user-component-info">
              <h3><%= user.email %></h3>
<%= link_to "view Statistics",
{:controller => 'statistics', :action => 'users', :id => user.id},
class: "user-component-button-absolute btn btn-primary"%>
        </div>

</div>
<%end%>
<%end%>
</div>

