<html> 
	<% unless @friends.empty? %>
		<ul>
			<% @friends.each do |friend| %>
				<li> <%= if friend.name.nil?  then friend.email.split('@').first else friend.name + " (#{friend.email})" end %> </li>
				<% if @user.pending_invited.include? friend %>
					<%=	link_to 'Remove request',{:controller => 'friendships',
												:action => 'remove', 
												:friend_id => friend.id}, 
												class: "btn btn-warning" 	
					%>					
				<% else %>
					<%=	link_to 'Remove friendship',{:controller => 'friendships',
												:action => 'remove', 
												:friend_id => friend.id}, 
												class: "btn btn-danger" 	
					%>
					<%= link_to 'View feed', {:controller => 'users',
											  :action => 'friends_feed',
											  :id => User.find_by_email(friend.email).id}, 
												class: "btn"%>
				<% end %>


			<% end %>	
		</ul>
	<% end %>
	<div style="padding-top:4%"> 
		<%= form_tag("search", :method => "get") do %>
		  <%= label_tag(:q, "Search for friends using name or email:") %>
		  <%= text_field_tag(:query, "", :style => "height:40px;") %>
		  <div>
		  	<%= submit_tag("Search", :class => "btn", :style => "height:40px") %>
		  <div>	
		<% end %>
	</div>
	<div style="padding-top:1%">
		<%= link_to 'Manage blocked friends', {:controller => 'users', :action => 'manage_blocked_friends'}, 
		class: "btn"%>
	</div>

	<div class="apple_pagination">
		<%= will_paginate @friends, :container => false %>
	</div>

</html>
