<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "LA2ETLAK", {controller: 'admins' ,action: 'index'}, id: "logo" %>

        <form class="navbar-search pull-left" action="/admins/search">
          <input type="text" class="search-query" placeholder="Search User" name="query">
        </form>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",   {controller: 'admins' ,action: 'index'} %></li>
              <li><%= link_to "Statistics", {controller: 'statistics' ,action: 'all_users'} %></li>
              <li><%= link_to "Log File", {controller: 'logs' ,action: 'index'} %></li>

            </ul>
          </nav>
        </div>
      </div>
    </header>
<h1>
<% @story.title %>
</h1>

<div class="accordion" id="myaccordion">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href = "#demo"> 
			<h2  style="clear:both;">Content</h2>
			</a>
		</div>
		<div id="demo" class="collapse in">
			
<% if !(@story.content.nil? || @story.content=="") %>
				<div class="pre-scrollable">
				<p><font size="5"><%=raw @story.content %></p>
				</div>
<%else%>
				<p><font size="3">No content</p></br></br>
<%end%>
			</div>
<%end%>
		

	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href = "#demo2"> 
				<h2  style="clear:both;">Status</h2></a>
		</div>
			<div id="demo2" class="collapse ">

							<div class="story-page-well"><% if !(@story.deleted || @story.hidden) %>
									<ul class="nav nav-list">
									<li class="nav-header">Status :</li>
									<span class="greenbadge">Active</span>
								        <% elsif @story.deleted %>
									<ul class="nav nav-list">
									<li class="nav-header">Status</li>
									<li><span class="redbadge">Deleted</span></li>
									<% elsif @story.hidden %>
									<li><span class="yellowbadge">Hidden</span></li>
								         <% end %>
									<li class="nav-header">Date :</li>
									<li><%= @story.created_at.to_date %></li>
									<li class="nav-header">Rank :</li>
									<li><%= @story.rank %></li>
									<li class="nav-header">Interest Name :</li>
									<li><%= Interest.find(@story.interest_id).name %></li>

							</div>
							<li class="divider"></li>

					</div>	

</div>
<div class="accordion-group">
<div class="accordion-heading">


<a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href = "#demo3"> <h2  style="clear:both;">Comments</h2> </a> 

</div>
			<div id="demo3" class="collapse">

					
					<li class="divider"></li>
<% if !(@comments.nil? || @comments.empty?) %>


					<div class="story-comments pre-scrollable">
				<% @comments.each do |comment| %>
							
						<div class="well-comment-component">
<a href=" #"class="thumbnail-comment-component"><img src="http://placehold.it/75x75"></a>
<div class="comment-component-info">
<h3><%= User.find(comment.user_id).name %></h3>
<div class="comment-component-well">
<p><font size="2"><%= comment.content %>
</p>
</div>
</div>
</div>
<%end%>
<%else%>

<p><font size="3">No comments</p>
		
<%end%>


					</div>	

</div>



		



