<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Story Page!</title>
  <%= stylesheet_link_tag    "mobile_style"%> 
</head>
   <header class="navbar navbar-fixed-top" >
      <div class="navbar-inner">
        <div class="container" >
          <a href="#" id="logo" ><h1 class = "pull-left" style = "float:up;">LA2ETLAK</h1></a>
          <nav>
            <ul class="nav">
              <li><a href="#" ><img src="http://img851.imageshack.us/img851/6572/gearlx.png" id="il_fi" height="25" width="25" ></a></li>
              <li><%= link_to (image_tag ("http://img268.imageshack.us/img268/2857/1336213338reload04.png")) ,{:controller => params[:controller],:action  =>  params[:action]}, {:style => 'margin-right:2%;width:25px;height:25px;'} %></li>
            </ul>
          </nav>
        </div>
      </div>
</header>
<% if fl = flash[:notice] %>
  <% color = fl["red"] || fl["green"] || fl["yellow"]%>
  <% if color %>
    <% fl[color] = "" %>
  <% else %>
    <% color = "yellow" %>
  <% end %>
  <div class="flash-<%= color %>" id="notification">
  <%= fl %>
  </div>
<% end %>
<% if current_user %>
  <% if current_user.get_notifications %>
    <% s = "s" if user.get_notifications.length!=1 %>
    <div class="warning-component-box-mobile" id="notification">
    You have <%= user.get_notifications.length %> pending friendship request<%= s %>!
    </div>
  <% end %>
<% end %>
  <body>
    <%= yield %>
  </body>
</html>
