<%= render 'shared/all_flash' %>
<div class="main-settings-page">

<div class="middle-settings-panel" >
<ul id="myTab" class="nav nav-tabs">

            <li <% if !$story_settings & !$span_settings %> class="active" <%end%> > 
              <a href="#profile_settings" data-toggle="tab">Profile settings</a></li>
            
              <li <% if $story_settings %> class="active" <%end%> >
                <a href="#story_settings" data-toggle="tab">Story settings</a></li>

            
              <li <% if $span_settings %> class="active" <%end%> >
                <a href="#general_settings" data-toggle="tab">General settings</a></li>
            
            <li class=""><a href="#new_admin" data-toggle="tab">Add a new admin</a></li>
          </ul>


          <div id="myTabContent"class="tab-content">
            <% if $span_settings | $story_settings %>
              <div class="tab-pane fade" id="profile_settings">
            <%else%>
              <div class="tab-pane fade in active" id="profile_settings">
            <%end%>
             This is tab is empty temporarily
            </div>
            <% if $story_settings %>
              <div class="tab-pane fade in active" id="story_settings">
            <%else%>
              <div class="tab-pane fade" id="story_settings">
            <%end%>
              <div class="well">
                   <%= form_tag("/admin_settings/configure_flags_threshold", :method => "post") %>
                   <label>Configure flags threshold</label>
                <input type="text" class="span3" placeholder="Please enter the flags threshold" name="valuee">
                <span class="help-block"><b> Current Threshold is: <%= Admin_Settings.find_by_key("flags_threshold").value %><br />
                  Minimum Threshold is: 30</b></span>
                <label class="checkbox">
                <input type="checkbox" name="auto" <% if Admin_Settings.find_by_key("auto_hiding").value == 0 %> checked <% end %> > Disable Auto-Hiding
                </label>
                <button type="submit" class="btn">Submit</button>
              </form> 
              <div style="width:300px;"
                <% total = (Story.find_all_by_hidden(false).count + Story.find_all_by_hidden(true).count) %>
                <div class="progresscustom" id="progressbar" style="display: block;">
                  <div class="barcustom" id="barofprogress" style="width: <%= 
                        if total == 0
                          width = 0
                        else 
                          width = ((Story.find_all_by_hidden(false).count)*300)/total
                        end %>px;">
                  </div>
                </div>
                <span class="help-block">Un-Hidden VS Hidden</span>
              </div>    
              
            </div>
            <% if $span_settings %>
              <div class="tab-pane fade in active" id="general_settings">
            <%else%>
              <div class="tab-pane fade" id="general_settings">
            <%end%>
              <%= form_tag("/admin_settings/statistics_time_span", :method => "post") %>
                   <label>Configure statistics time span</label>
                <input type="number" class="span3" placeholder="Number in days." name="days">
                <span class="help-block">Current time span is: <%= Admin_Settings.find_by_key("statistics_time_span").value %></span>
                <button type="submit" class="btn">Submit</button>
              </form> 
            </div>
            <div class="tab-pane fade" id="new_admin">
              <%= form_for @admin do |f| %>
              <% @admin.errors.full_messages.each do |msg| %>
                  <p><%= msg %></p>
               <% end %>
              <p>
                <%= f.label :first_name %><br />
                <%= f.text_field :first_name %>
              </p>
              <p>
                <%= f.label :last_name %><br />
                <%= f.text_field :last_name %>
              </p>
              <p>
                <%= f.label :email %><br />
                <%= f.text_field :email %>
              </p>
              <p>
                <%= f.label :password %><br />
                <%= f.password_field :password %>
              </p>
              <p>
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation %>
              </p>
            <div>

              <p><%= f.submit "Add" %></p>
            </div>
            <% end %>

            </div>
          </div>
        </div>
        </div>        
       </div>
