<SCRIPT language="javascript">


	function callmodal(){
		$('#myModal').modal();
	}
</SCRIPT>
<div>
<input type="button" class="btn btn-primary" value="Add new interest" onclick="callmodal()"/>	
		<!-- sample modal content -->
	          <div id="myModal" class="modal hide fade">
	            <div class="modal-header">
	              <button class="close" data-dismiss="modal">&times;</button>
	              <h3>Create New Interest</h3>
	            </div>
	            <div class="modal-body">
				
	
<%= form_for(@interest) do |f| %>
 

  <%= render 'shared/error_messages' %>


    <%= f.label :name ,"Name :",  :class => "logs-take-input " %><br />
    <%= f.text_field :name , :class => "input-xlarge" %>
   



    <%= f.label :description,"Description:",  :class => "logs-take-input "  %><br />
    <%= f.text_area :description , :class => "input-xxlarge", :cols => "40", :rows => "6", :placeholder => "add description"%>




    <%= f.label :image,"Image:",  :class => "logs-take-input "  %><br />
    <%= f.text_field :image,  :placeholder => "Insert Image URL"%><br/><br/>
 




<%= f.submit "Submit" , class:"span2 btn-large btn btn-primary"%>
<% end %>
	            </div>
	            <div class="modal-footer">
	              <a href="#" class="btn" data-dismiss="modal" >Close</a>
	            
				
	            </div>
	          </div>
</div>


 












