<html>
<body class="container">

        <style>
        
           
           header img   {padding: 1em;
  background: grey;}
        </style>

<header >

      <h3>
          <font size="35" face="arial" color=#025167>
          Interests :  <br/><br/>
        <%= @interest.name %><br/><br/>

           </font>
         
      </h3>

<h1>
             <%= image_tag(@interest.image, :alt => "default pic", :class => "round") %></br></br>
</h1>
</header>

      <h3>
         <font  size="5"face="arial" color=#025167>
       Description:
             </font>
      </h3>

      <p>
                 <font  size = "3" face="arial" >
         <%= @interest.description %><br /><br />
             </font>
      </p>

<h3>
 <font  face="arial" color=#025167>
RSS Feeds : </br>
    </font>
</h3>

 


<% unless @interest.feeds.empty? %>
     
     <%= render @interest.feeds %></br></br>

       
<% end %>

<strong>Number Of Feeds : </strong> <%= @interest.feeds.count %></br></br></br>
<! .. to add an RSS feed ..>
<%= link_to "Add RSS Feed ", {:controller => 'feeds', :action =>'new', :id => @interest.id },  :class => "btn btn-large btn-success "  %><br /><br />
    
    
    




 
       <strong> </strong> <%= link_to "Edit Interest", '#', :class => "btn  btn-inverse" %>

       <strong> </strong> <%= link_to "Delete Interest", '#', :class => "btn  btn-inverse" %>

       <strong> </strong> <%= link_to "View Stories", '#', :class => "btn  btn-inverse " %><br /><br /><br />


 <strong> Interest's URL : </strong> <%= link_to interest_path(@interest), @interest %><br /> 

</body>
</html>




