<html>
<%= render 'shared/logs_error_messages' %>

<div class="container-fluid maindiv">

  <div class="row-fluid">

    <div class="left_panel">
      <ul class="nav nav-list left_panel ">
               <%= render 'shared/error_feed' %>

	<li class="nav-header">Add Rss Feed</li>
        <! .. ADDING RSS FEED .. >

          <li class="divider"></li>
            
            <%= form_for (@feed) do |f| %>
 
                <%= render 'shared/error_feed' %>
                <%= f.text_field :link , :value => '' , :placeholder=> 'RSS link' %>
                <%= f.hidden_field :interest_id, :value =>@interest.id%>
                <%= f.submit "Submit"  , class:"btn btn-primary"%>

<% end %>
<!DELETING RSS>
            <%= link_to("Manage RSS feeds", {:controller => "feeds", :action => "delete_page", :interest_id =>@interest.id}, class: "btn btn-warning" ) %>

            
<! edit interest part .. to be added later >
			<li class="divider"></li>
			<li class="nav-header">Interest Edit</li>
			<li class="divider"></li>

			<%= form_tag("/logs/filterbydate", :method => "get") %>
			  <label for="name" class="logs-take-input" >Name :</label>
			  <input type="text" class="input-medium" placeholder="Name"  name="name"id="name">
		          <label for="description"class="logs-take-input" >Description :</label>
			  <textarea type="text" class="input-medium" placeholder="Description" name="description" id="description"></textarea>
			  <label for="image"class="logs-take-input" >Image :</label>
			  <input type="text" class="input-medium" placeholder="Image URL" name="image" id="image">
			  <input class="btn btn-primary" name="commit" type="submit" value="Edit"  />
							
			</form>

			<li class="divider"></li>
<!.. deleting the interest .. no action at the moment .. >
			<li class="nav-header">Delete this Interest </li>
			<%= link_to 'Delete it !!',class: "control-absolute btn btn-primary btn-danger btn disabled disabled"%>

			</ul>
</div>




			<div class="main-right-interse">
			<div class="middle-interest-panel" >
			<h1><%= @interest.name %></h1>
<!-- the interest's image .. the alternative is Nokia Logo image -->
<h3><% if @interest.image == "" %>
      <%= image_tag "logo.jpeg" %>
      <% else %>
      <img src= "<%= @interest.image%>" width="320" style="height:320px"/>
      <% end %>
</h3>



	
	<div class="interest-page-description">
		<ul class="nav nav-list" >
			<li class="divider"></li>

		</ul>
      <h3 class="interest-page-text">
       Description:
      </h3>
<div class="interest-page-well">
         <%= @interest.description %>
</div>

<ul class="nav nav-list" >
	<li class="divider"></li>

</ul>
<h3 class="interest-page-text">
RSS Feeds :
</h3>

<div class="interest-page-well">
<! .. adding the RSS feeds added to this interest unless the table is empty ..>
<% unless @interest.feeds.empty? %>

     <%= render @interest.feeds %> 
<% end %>
</div>
	<ul class="nav nav-list" >
		<li class="divider"></li>
	
	</ul>	
		
	</div>
</div>
	<div class="right-interest-panel interest-page-well" >
		<h2 class = "logs-take-input" >Stories List<h2>
			<ul class="nav nav-list" >
				<li class="divider"></li>

			</ul>

<!.. these are two dummy user stories .. who is responsible for the stories page should  add them here ..>
			<div class="pre-scrollable">
<% @stories.each do |story| %>
			<div class="well-story-component ">
			<a href="    #"class="thumbnail-story-component"><img src=<%= story.media_link %>></a>
			<div class="story-component-info">
			<h3><%= link_to( story.title, {:controller => "stories", :action => "show",:id => story.id}) %></h3>
			<h6 class ="story-component-text"><%= story.content %></h6>
			<h6 class ="story-component-text"><%= story.rank %></h6>
			<h6 class ="story-component-text"><%= story.date %>
			<%=	link_to "View Statistics", logs_path, class: "story-component-button-absolute btn btn-primary"%> </h6>

					</div>
		</div>
<%end%>
	
		
</div>
</div>
	
</div>
</div>

</html>
