<body style="padding-top:75px;">
	<div class="accordion" id="accordion1">
		    <div class="accordion-group">
		      <div class="accordion-heading">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			<h1>El 7war:-</h1>
		        </a>
		      </div>
		      <div id="collapseOne" class="accordion-body collapse in">
		        <div class="accordion-inner">
<% if !(@story.content.nil? || @story.content=="") %>
					
						<p><font size="5"><%=raw @story.content %></p>
					
<%else%>
<p><font size="3">No content</p>
<%end%>
					
		        </div>
		      </div>
		    </div>
		    <div class="accordion-group">
		      <div class="accordion-heading">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		          <h1>El E7sa2eyat:-</h1>
		        </a>
		      </div>
		      <div id="collapseTwo" class="accordion-body collapse">
		        <div class="accordion-inner">
<% if !(@story.deleted || @story.hidden) %>
									<ul class="nav nav-list">
									<li class="nav-header">Status :</li>
									<span class="greenbadge">Active</span>
									<% elsif @story.deleted %>
									<ul class="nav nav-list">
									<li class="nav-header">Status</li>
									<li><span class="redbadge">Deleted</span></li>
									<% elsif @story.hidden %>
									<li><span class="yellowbadge">Hidden</span></li>
									<% end %>
									<li class="nav-header">Date :</li>
									<li><%= @story.created_at.to_date %></li>
									<li class="nav-header">Rank :</li>
									<li><%= @story.rank %></li>
									<li class="nav-header">Interest Name :</li>
									<li><%= Interest.find(@story.interest_id).name %></li>


		        </div>
		      </div>
		    </div>
		    <div class="accordion-group">
		      <div class="accordion-heading">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		          <h1>EL Commentat:-</h1>
		        </a>
		      </div>
		      <div id="collapseThree" class="accordion-body collapse">
		        <div class="accordion-inner">
		         <% if !(@comments.nil? || @comments.empty?) %>
					<div class="story-comments pre-scrollable">
				<% @comments.each do |comment| %>
							
						<div class="well-comment-component">
<a href=" #"class="thumbnail-comment-component"><img src="http://placehold.it/75x75"></a>
<div class="comment-component-info">
<h3><%= User.find(comment.user_id).name %></h3>
<div class="comment-component-well">
<p><font size="2"><%= comment.content %>
</p>
</div>
</div>
</div>
<%end%>
<%else%>
<p><font size="3">No comments</p>
		

<%end%>	

		        </div>
		      </div>
		    </div>
		  </div>
		</div>



	</body>
