<script>
var $j = jQuery.noConflict();
$j(function() {
  var faye = new Faye.Client('http://localhost:9292/faye');
  faye.subscribe("/admins/index", function() {
	$j("#feeds").load(" #feeds");
  });
});
</script>
	<div class="container-fluid maindiv">
	
	<div class="row-fluid">

	 <div class="admin_main_left_panel">
		 <div class="well sidebar-nav">
	      	<ul class="nav nav-list">
			<li class="nav-header">Directory</li>
			<li class="divider"></li>		
			<li><a href="/users"><i class="icon-user"></i><font size="4">Users</font></a>
			<li><a href="/interests/list"><i class="icon-heart"></i><font size="4">Interest</font></a>
			<li><a href="/stories"><i class="icon-book"></i><font size="4">Stories</font></a>
			<li class="divider"></li>
			<li><a href="/admins/statistics/all_users"><i class="icon-signal"></i><font size="4">Statistics</font></a>
			<li><a href="/logs"><i class="icon-list"></i><font size="4">Logs</font></a>
			</ul>
			</div>	
			
				 <div class="well sidebar-nav">
			      	<ul class="nav nav-list">
					<li class="nav-header"> La2etlak at Glance </li>
					<li class="divider"></li>		
					<li><%= User.get_no_of_users_signed_in_today %> users</li>
					</ul>
					</div>		  
	 </div>

	    <div class="admin_right_panel " >
		<h2>Main Feeds</h2>
		<div class="admin_feed_padding">
				
			<div id="feeds">
			<%if $newsfeed != nil%>
			  <% $newsfeed.each do |nf| %>
				<%if (nf.kind_of?(Interest))%>
					<%@interest = nf%>		
						<div >
							<% if @interest.name.nil? %>
								<% name = "No Name Available" %>
								<% else %>
								<% name = @interest.name  %>
								<%  end %>
							<font size="5"><b><%= link_to(name , {:controller => "interests", :action => "show",:id => @interest.id} ,:style =>"clear:both;") %></b></font>
								<span class="pull-left greenbadge admin_clear_both">Interest</span>
								<span class="pull-right bluebadge "><%=time_ago_in_words(@interest.created_at)%></span>
							<div class="well admin_story_feed" style="float: left;">
								<% if !@interest.photo.file? %>
					     			  <%= image_tag "logo.jpeg"  , style: "float:left; margin-right:20px; margin-bottom:20px;" %>
					     			  <% else %>
					            <img src= "<%=@interest.photo.url(:small) %>" style=" width=320px; height:320px;"/>
					            		  <% end %>
					<div class"control-panel">
									<% if !(@interest.deleted ) %>
											<ul class="nav nav-list">
											<li class="nav-header">Status :</li>
											<span class="greenbadge">Active</span>
											<% elsif @interest.deleted %>
											<ul class="nav nav-list">
											<li class="nav-header">Status</li>
											<li><span class="redbadge">Blocked</span></li>
											<% end %>
											<li class="nav-header">Date :</li>
											<li><h3><%= @interest.created_at.to_date %></h3></li>
											<li class="nav-header">Description :</li>
											<li><h3><%=if @interest.description !="" then @interest.description  else "No Description" end%></h3></li>
											<!--	<li class="nav-header">Popularity :</li>
										<div class="progresscustom" id="progressbar" style="display: block;">
											 <div class="barcustom" id="barofprogress" 
											 	style="width: <%User.count%>"></div>
														</div>-->
											</div>
									<%= link_to "view Statistics", 
									{:controller => 'statistics', :action => 'interests',:id => @interest.id }, 
									class: "btn btn-primary btn-large" ,:style =>"float:left; clear:both;" %>
								
							</div>
						
						
						
						
						
						
						
						
	
				<%else%>
				<%story = nf%>
				<div >
				<font size="3"><b><%= link_to( story.title, {:controller => "stories", :action => "show",:id => story.id}) %></b></font>
				<span class="pull-left yellowbadge">Story</span>
				<span class="pull-right bluebadge"><%=time_ago_in_words(story.created_at)%></span>
					<div class="well admin_story_feed">
					
					<div class="well control-panel">
						<%=raw story.content %>
						</div>
						
							<%= link_to("View Statistics", {:controller => 'statistics', :action => 'stories', :id => story.id}, class: "btn btn-primary") %>  			
							<span class="pull-right greenbadge">Ups(<%=story.liked.length%>)</span>
							<span class="pull-right redbadge">Downs(<%=story.disliked.length%>) </span>
						
											<%@comments = story.comments%>

							<h2 class="story-identation story-page-text">Comments</h2>
						
							<% if !(@comments.nil? || @comments.empty?) %>
									<% @comments.each do |comment| %>
										<div class="well">
													<h3><%= User.find(comment.user_id).name %></h3>
														<div class="comment-component-well">
															<p><font size="2"><%= comment.content %>
																</p>
												</div>
												<span class="pull-right greenbadge">  Ups  (<%=comment.get_num_ups%>)</span>
												<span class="pull-right redbadge">Downs(<%=comment.get_num_downs%>)</span>
										</div>
							<%end%>
									<%else%>
											<p><font size="3">No comments</p>
							<%end%>	
						
						
						
						
						
						
					</div>
				</div>
				<%end%>
				<%end%>
				</div>
		</div>
		<%else%>
		No Feeds to Show !!
		<%end%>
		
		</div>
	
			
	
	</div>

  	</div>
