<div class="container-fluid maindiv">
	<div class="row-fluid">
		<div class="sidebar-nav-fixed" id="filterPanel">
	<!--Here I check if there are results for users,stories and/or interests at all and show the checkboxes for the filter accordingly...-->
			<% if @message.nil? %>
					<% if $users.length > 0 %>
					<%= form_tag("/admins/filter", :method => "get") %>	
			 			<label class="checkbox">
			    		<input type="checkbox" value= "true" <%if( $usersSearch=='true')%>  checked <%end%>  name="users" id="users"> Users
			  		</label>
					<% end %>
					<% if $stories.length > 0 %>
			 			<label class="checkbox">
			    		<input type="checkbox" value= "true"  <%if( $storiesSearch=='true')%>  checked <%end%> name="stories" id="stories"> Stories
			  		</label>
					<% end %>
					<% if $interests.length > 0 %>
			 			<label class="checkbox">
			    		<input type="checkbox" value= "true" <%if( $interestsSearch=='true')%>  checked <%end%>  name="interests" id="interests"> Interests
			  		</label>
					<% end %>	  
					<div>
						<input class="btn btn-primary" name="filter" type="submit" 
						         value="Filter" />
					</div>
				</form>	
			<% end %>  
	  </div>
	    
	<!--The results of the three parts (users,stories,interests) will appear in this panel-->
	  <div class="main-user-profile-page" >
	  	<% if @message.class == String %>
  <!--If there are no results found or if there is no query written in the search bar then a warning will appear to the admin informing him about that-->
      	<div class="middle-user-profile-page-panel" id="noSearchQuery">
            <h2><%= @message %></h2>
        </div>
      <% else %>
	<!--If the users checkbox is checked, then the results of the users will be shown unless there are no results to show. I also add a button to view the statistics of each user and another button to view the remaining results of the users-->
				<% if $usersSearch == "true"  %>
      		<% if $users.length > 0 %>
      			<div class="middle-user-profile-page-panel" id="usersSearchResults">
        			<h2>Users Search Results</h2>
        			<% $users[0..2].each do |user| %>
        				<div class="well-user-component">
        					<% if !(user.nil?) %>
            				<a href="/users/<%= user.id %>"class="thumbnail-user-component"><%= image_tag "logo.jpeg", :size => "75x75" %></a>
            				<div class="user-component-info">
                			<h4><%= user.first_name.nil? ? '' : user.first_name.downcase.capitalize %> <%= user.last_name.nil? ? '' : user.last_name.downcase.capitalize %></h4>
                			<h6 class ="user-component-text"><%= user.email %></h6>
                			<h6 class ="user-component-text"><%= user.name %><%=	link_to "User Statistics", {:controller=> 'statistics', :action => 'users', :id => user.id}, class: "user-component-button-absolute btn btn-primary"%> </h6>
            				</div>
            			<% end %>
          			</div>
        			<%end%>
        			<%= link_to "View All Users Results", 
							{:controller=> 'admins', :action => 'all_results', :type => "1"}, 
							class: "btn btn-primary"%>
  					</div>
      		<% end %>
      	<% end %>
      
      <!--If the stories checkbox is checked, then the results of the stories will be shown unless there are no results to show. I also add a button to view the statistics of each story and another button to view the remaining results of the stories-->
      	<% if $storiesSearch == "true"  %>
    			<% if $stories.length > 0 %>
      			<div class="middle-user-profile-page-panel" id="storiesSearchResults">
        			<h2>Stories Search Results</h2>
       				<% $stories[0..2].each do |story| %>
        				<div class="well-story-component">
        					<% if !(story.nil?) %>
            				<a href="/stories/<%= story.id%>" class="thumbnail-story-component">
										<%= image_tag "logo.jpeg", :size => "75x75" %></a>
            				<div class="story-component-info">
                			<h4><%= story.title.nil? ? 'No Title' : story.title.downcase.capitalize %></h4>
                			<%=	link_to "Story Statistics", {:controller=> 'statistics', :action => 'stories', :id => story.id}, class: "story-component-button-absolute btn btn-primary"%> </h6>
            				</div>
            			<% end %>
          			</div>
        			<%end%>
        			<%= link_to "View All Stories Results", 
							{:controller=> 'admins', :action => 'all_results', :type => "2"}, 
							class: "btn btn-primary"%>
  					</div>
					<% end %>
      	<% end %>
      
      <!--If the interests checkbox is checked, then the results of the interests will be shown unless there are no results to show. I also add a button to view the statistics of each interest and another button to view the remaining results of the interests-->
      	<% if $interestsSearch == "true"  %>
    			<% if $interests.length > 0 %>
      			<div class="middle-user-profile-page-panel" id="interestsSearchResults">
        			<h2>Interests Search Results</h2>
        			<% $interests[0..2].each do |interest| %>
        				<div class="well-interest-component">
        					<% if !(interest.nil?) %>
        						<a href="/interests/<%= interest.id %>" class="thumbnail-interest-component">
			  						<% if not interest.photo.file? %>
     			  					<%= image_tag "logo.jpeg", :size => "75x75" %>
     			  				<% else %>
            					<img src= "<%= interest.photo.url(:small) if interest.photo.file? %>" width="75" style="height:75px"/>
            		  	<% end %> </a>
            				<div class="interest-component-info">
                			<h4><%= interest.name.nil? ? 'No Name' : interest.name.downcase.capitalize %></h4>
                			<%=	link_to "Interest Statistics", {:controller=> 'statistics', :action => 'interests', :id => interest.id}, class: "interest-component-button-absolute btn btn-primary"%> </h6>
            				</div>
            			<% end %>
            		</div>
        			<%end%>
           		<%= link_to "View All Interests Results", 
							{:controller=> 'admins', :action => 'all_results', :type => "3"}, 
							class: "btn btn-primary"%>
  					</div>
     			<% end %>
      	<% end %>
  		<% end %>    
		</div>
	</div>
</div>
