<%= link_to('Go to statistics page', {:controller => 'statistics', :action => 'stories', :id => @story.id}) %>
<p>Story description and content </br></p> 
<table>
<%= @story.id %>
<<<<<<< .mine
<%= @story.title %>
<%= @story.body %>
=======
<!-- showing comments of the story -->
>>>>>>> .r169
<% @comments.each do |comment| %>
<tr>
    <td><%= comment.id %></td> 
    <td><%= comment.content %></td>
    <td><%= comment.user_id %></td>
    <td><%= comment.story_id %></td>
</tr>
<%end%>
</table>
    

    
