<div align="center">
<% if @friends.empty? %>
 <%= render 'shared/logs_error_messages'%>
<br>
<div class="btn btn-large", id="findfrind" align="center"> 
<%= link_to("find friend",{:controller => 'friendships', :action => 'search'} )%>
</div>
<div class="btn btn-large"> 
<%= link_to("back",{:action => 'get', :id => @story} )%>
<% else %>
<div id="disliked">
<% @friends.each do |f| %>
<%=f%>
<br>
 <%end%>
<div class="btn btn-large" align="center"> 
<%= link_to("back",{:action => 'get', :id => @story} )%>
</div>
<% end %>
</div>
</div>
</div>

