<html>
<!-- adding story title-->
<% if @story == nil %>
 <div align="center">
 <%= " the selected story was removed ! "%> </br></br>
 			   <%= link_to image_tag("http://icons.iconarchive.com/icons/dryicons/simplistica/128/back-icon.png" , :style =>"width:50px;height:30px;"), :contoller => 'users' , :action => 'feed' %>
	   </div></br> 
	   <%else%>

 <div align="center">
        <h3> <%= @story.title %> </h3>
      </div>

<!--checking for media url if found with content extract it from content display and then display content without it -->

    <div align="center">
    
    <% if @story.media_link != nil && @story.media_link.length > 3%>
    <img src=@story.media_link width="220" align="center">
    
	<%else%>
        <% @all = "img src=" %>
	<% @url_start = "http://" %>
        <% @url_end = "\" " %>
        <%  @url_regex = /^(?:(?:http|https):\/\/[a-z0-9]+(?:[\-\.]{1}[a-z0-9]+)*\.[a-z]{2,6}(?::[0-9]{1,5})?(\/.*)?)|(?:^$)$/ix %> 
     <%= @story.content%></br>
    	 <% if @story.content =~ /#{@url_regex}/ %>
    	    <% @allstart = @story.content.index(@all)%>
	    <% @start = @story.content.index(@url_start)%>
    	    <% @end = @story.content.index(@url_end) %>
 	    <% @media = @story.content[	@start.to_i , @end.to_i-10] %>
  	    <% @allmedia = @story.content[@all.to_i , @end.to_i+1]%>
		<img id="toppic" src="<%=@media%>" width="220" align="center" />
	    <%end%>
       <%end%>
	 </div></br>
	
	
	<% if @story.category == "RSS" %>
		<div style="padding-left:10px;">
 
 <% if @action1 == [] && @action2 == [] %>

<%= link_to image_tag("http://img210.imageshack.us/img210/5599/likecopy.png" , :style =>"width:25px;height:25px;"), {:controller => 'likedislikes' , :action => 'thumb' , :sid => @story.id  , :action => 1 }%> 
 <% if @likes.length > 0 %>
 <%= @likes.length %> <%=link_to('people like this.' , {:controller => "stories", :action => "liked_mobile_show", :id => (@story.id)})%>
 <%else%>
 <%= "thumb up"%>
 <%end%></br>
 
<%= link_to image_tag("http://img717.imageshack.us/img717/856/dislikekh.png" , :style =>"width:25px;height:25px;"), {:controller => 'likedislikes' , :action => 'thumb' , :sid => @story.id  , :action => -1}%>
  <% if @dislikes.length > 0 %>
  <%= @dislikes.length %><%=link_to('people dislike this.' , {:controller => "stories", :action => "disliked_mobile_show", :id => (@story.id)})%>
  <%else%>
  <%= "thumb down"%>
  <%end%>
  <%end%>
  <%end%>
  
    
  <% if @action1 != [] && @action2 == [] %>
  	<% if @likes.length > 1 %>
  	 <%= "you and "%> <%=@likes.length-1%><%=link_to('people like this.' , {:controller => "stories", :action => "liked_mobile_show", :id => (@story.id)})%>
  	 <%else%>
  	 <%= "you like this."%>
  	 <%end%>
  	 </br>
 	<%= link_to image_tag("http://img717.imageshack.us/img717/856/dislikekh.png" , :style =>"width:25px;height:25px;"), {:controller => 'likedislikes' , :action => 'thumb' , :sid => @story.id  , :action => -1}%>
  <% if @dislikes.length > 0 %>
  <%= @dislikes.length %><%=link_to('people dislike this.' , {:controller => 'stories', :action => 'disliked_mobile_show', :id => (@story.id)})%>
  <%else%>
  <%= "thumb down"%>
  <%end%>
  
  <%end%>
  </br>
  <% if @action2 != []  && @action1 == [] %>
	
	
<%= link_to image_tag("http://img210.imageshack.us/img210/5599/likecopy.png" , :style =>"width:25px;height:25px;"),{ :controller => 'likedislikes' , :action => 'thumb' , :sid => @story.id  , :action => 1}%>
	 <% if @likes.length > 0 %>
 		<%= @likes.length %> <%=link_to('people like this.' , {:controller => 'stories', :action => 'liked_mobile_show', :id => (@story.id)})%>
	 <%else%>
		 <%= "thumb up"%>
 	<%end%>
	</br>
	<% if @dislikes.length > 1 %>
  		 <%= "you and "%> <%=@dislikes.length-1%> <%=link_to('people dislike this.' , {:controller => 'stories', :action => 'disliked_mobile_show', :id => (@story.id)})%>
  	 <%else%>
  		 <%= "you dislike this."%>
  	 <%end%>
	

  <%end%>
	</br>
 
 <%end%>
 	 
	 
	
 <div class="story-component-box-mobile pre-scrollable" style="padding-left:10px;">
 <% if @story.content != nil %>
 <%if @allmedia != nil && @allmedia.length > 4 %>
 <% @story.content.slice!(@allmedia) %>
 <%end%>
 <%= @story.content %>
 <%end%>
 </br></br>
 </div>


	<% if @story.category == "RSS" %>

<!-- recommend , flag , share buttons -->
  
<!--$$$$$$$$$$$$$$$$ Mina Adel $$$$$$$$$$$$$$$$ -->

   &nbsp;
<!-- I create the facebook sharer url with the media link, then I put it into the url part of the button -->
  <% facebook_url = "https://www.facebook.com/sharer/sharer.php?u="+@story.media_link%>
    <a href=<%=facebook_url%>><img src = "http://dcbdluf1ahqio.cloudfront.net/facebook/32x32.png" height="30" width="30"></a>
  <!-- I create the twitter sharer url with the media link along with the message "Shared via La2etlak Nokia App", then I put it into the url part of the button -->
	<% twitter_url = "http://twitter.com/intent/tweet?url="+@story.media_link+"&text=Shared%20via%20La2etlak%20Nokia%20App" %>
    <a href=<%=twitter_url%>><img src = "http://dcbdluf1ahqio.cloudfront.net/twitter/32x32.png" height="30" width="30"></a>
  <!-- This is a link to the share controller, which calls the method user_share_story with a the story id as a parameter -->
    <%= link_to("La2etlak" , {:controller => 'shares', :action => 'user_share_story', :id => @story.id} )%></br>
<!--$$$$$$$$$$$$$$$$ Mina Adel $$$$$$$$$$$$$$$$ -->

   &nbsp;<%= link_to image_tag("http://t1.ftcdn.net/jpg/00/31/12/18/400_F_31121846_hi50PXgc8TyWvPty0xBZ8p4XqnVRalw7.jpg" , :style =>"width:35px;height:25px;"), {:controller => 'stories' , :action => 'recommend_story_mobile_show' , :sid => @story.id }%>Recommend
   
   <%= link_to image_tag("http://cdn1.iconfinder.com/data/icons/CrystalClear/128x128/actions/flag.png" , :style =>"width:25px;height:20px;"), {:controller => 'flags' , :action => 'flag' , :sid => @story.id }%>Flag</br>
   
 
	
   	<%=link_to('Block story' , {:controller => 'users', :action => 'block_story', :id => (@story.id)})%> &nbsp;
   	<%=link_to('Block interest' , { :controller => 'users', :action => 'block_interest', :id => (@story.id)})%></br>
	Added on <%= @story.created_at %></br></br>
	
	<div align="center">
			   <%= link_to image_tag("http://icons.iconarchive.com/icons/dryicons/simplistica/128/back-icon.png" , :style =>"width:50px;height:30px;"), {:controller => 'users', :action => 'feed'} %>
	   </div></br> 
	
	<%end%>
 </div>
   
</html> 	

