<!DOCTYPE html>
    <div class="container-fluid">
      <div class="row-fluid">
		<div class="admin_main_left_panel">
          <div class="well sidebar-nav">
            

            <ul class="nav nav-list">
              <li class="nav-header">Filter by status</li>
              <li class="divider"></li>	
            </ul>

            <form action="stories/filter" method="post">
              <label class="checkbox">
			    <input type="checkbox" value= "true" <%if( $hidden=='true')%>  checked <%end%>  name="hidden" id="hidden"> Hidden
			  </label>
              <label class="checkbox">
			    <input type="checkbox" value= "true" <%if( $flagged=='true')%>  checked <%end%>  name="flagged" id="flagged"> Flagged
			  </label>
              <label class="checkbox">
			    <input type="checkbox" value= "true" <%if( $active=='true')%>  checked <%end%>  name="active" id="active"> Active
			  </label>
              <input type="submit" name="commit" value="Submit" class="btn btn-primary"/>
            </form>
          </div><!--/.well -->
        </div><!--/span-->

     <div class="admin_right_panel " >
	 <h2 class = "logs-take-input" >
 	 <%= @stories.empty? ? 'Stories List : There are currently no stories to be viewed.' : 'Stories list' %></h2>
	 <ul class="nav nav-list" >
	  <li class="divider"></li>

	</ul>

	<div class="admin_feed_padding">
	  <% @stories.each do |story| %>
	  
<div >
<font size="3"><b><%= link_to( story.title, {:controller => "stories", :action => "show",:id => story.id}) %></b></font>
<span class="pull-left badge"><%=Interest.find(story.interest_id).name%></span>
<span class="pull-right bluebadge"><%=time_ago_in_words(story.created_at)%></span>
<% if !(story.deleted || story.hidden) %>
			<span class="pull-right yellowbadge">Active</span>
			<% elsif story.deleted %>
			<li><span class="pull-right redbadge">Deleted</span>
			<% elsif story.hidden %>
			<li><span class="pull-right bluebadge">Hidden</span>
		<% end %>
	<div class="well admin_story_feed">
	
	<div class="well control-panel">
		<%=raw story.content %>
		</div>
		
			<%= link_to("View Statistics", {:controller => 'statistics', :action => 'stories', :id => story.id}, class: "btn btn-primary") %>  			
			
			<span class="pull-right greenbadge">Ups(<%=story.liked.length%>)</span>
			<span class="pull-right redbadge">Downs(<%=story.disliked.length%>) </span>
		
							<%@comments = story.comments%>

			<h2 class="story-identation story-page-text">Comments</h2>
		
			<% if !(@comments.nil? || @comments.empty?) %>
					<% @comments.each do |comment| %>
						<div class="well">
									<h3><%= User.find(comment.user_id).name %></h3>
										<div class="comment-component-well">
											<p><font size="2"><%= comment.content %>
												</p>
								</div>
								<span class="pull-right greenbadge">  Ups  (<%=comment.get_num_ups%>)</span>
								<span class="pull-right redbadge">Downs(<%=comment.get_num_downs%>)</span>
						</div>
			<%end%>
					<%else%>
							<p><font size="3">No comments</p>
			<%end%>	
		
		
		
		
		
		
	</div>
</div>
          <%end%>
	</div>
      </div>


      <footer style="clear:both;">
      <hr>
        <p>© Smartsoft-2012</p>
      </footer>

    </div>
</html>
