<!--$$$$$$$$$$$$$$$$$$ Mina Adel $$$$$$$$$$$$$$$$$$$ -->
<!--This checks whether the list of stories I receive is nil or not -->

<div class="story-component-box-mobile">
	<% unless @stories.nil? %>
		<% @stories.each do |f| %>
			<% if f.is_a?(Story) %>
				<div class="story-component-box-mobile">
					<table class="table" width="200">
						<tr>
							<% if !f.media_link.nil?%>
								<td rowspan="2">
									<!-- Displaying the picture with a width of 50 -->
									<img id="topic" src="<%=f.media_link%>" width="50"/>
								</td>
								<td rowspan="2">
							<% end %>
							<table>
								<% if f.id.nil? %>
									<% serStory = Marshal::dump(f)%>
									<% if !f.title.nil? %>
										<tr><td><%= link_to(f.title , {:controller => 'stories', :action => 'get_story_feed', :serStor => serStory} )%></td></tr>
									<%end%>
									<% if !f.content.nil? %>
										<% if f.content.length > 50 %>
											<tr><td><%= f.content[0..47]+"..."%></td></tr>
										<% else %>
											<tr><td><%= f.content%></td></tr>
										<% end %>
									<% elsif !f.mobile_content.nil?%>
										<% if f.mobile_content.length > 50 %>
											<tr><td><%= f.mobile_content[0..47]+"..."%></td></tr>
										<% else %>
											<tr><td><%= f.mobile_content%></td></tr>
										<% end %>
									<% end %>
								<% else %>
									<% if !f.title.nil? %>
										<% url = "/stories/"+f.id.to_s+"/get" %>
										<tr><td><%= link_to(f.title , {:controller => 'stories', :action => 'get', :id => f.id} )%></td></tr>
									<%end%>
									<% if !f.mobile_content.nil? %>
										<% if f.mobile_content.length > 50 %>
											<tr><td><%= f.mobile_content[0..47]+"..."%></td></tr>
										<% else %>
											<tr><td><%= f.mobile_content%></td></tr>
										<% end %>
									<% elsif !f.content.nil?%>
										<% if f.content.length > 50 %>
											<tr><td><%= f.content[0..47]+"..."%></td></tr>
										<% else %>
											<tr><td><%= f.content%></td></tr>
										<% end %>
									<% end %>
								<% end %>
							</table>
						</tr>
					</table>
				</div>					
			<% end %>
		<% end %>
		<div class="apple_pagination">
			<%= will_paginate @stories, :container => false %>
		</div>
	<% else %>
		<!--if nil, an error message of sorts appears -->
		<div class="story-component-box-mobile">
			There are no stories in your feed.
		</div>
	<% end %>
<!--$$$$$$$$$$$$$$$$$$ Mina Adel $$$$$$$$$$$$$$$$$$$ -->
