<html>
	<!-- checks if there are no interests on the system yet-->
	<% if @all_interests == nil || @all_interests == [] %>
	<div align="center">
		 <font face="Courier New, Courier, monospace" COLOR="FF0000" size="3"><b>No interests on the system yet!!</b></font></br></br> 
		 
		 <p><a href="#" onclick="history.back();"><class: "btn btn-danger">Back</a></p>
		 
		</div>
  <%else%>

  <div align="center">
  </br>
     <font face="Courier New, Courier, monospace" size="3"><b>Interests</b></font></br></br>
  </div>

<!-- create button each interest in the system and if this interest already exists in user interests it makes the button green else it make it red and if interest is blocked by user before the word "(blocked)" is displayed next to the interest -->
<!-- on adding new/blocked interest the page is refreshed and buttin color is changed into green
on deleting an exsiting interest the page is refreshed and button color is changed into red -->
   
   <div align="center" >     
   	<% @all_interests.each do |interest| %>
		<!-- Kareem -->
		<table>
			<td>
		<!-- Kareem -->
		<%if @user_interests.include? interest.id%> 		 	
		<%= link_to interest.name, 
{:controller => 'users', :action => 'int_toggle',:id => interest.id }, 
class: "btn btn-success" %></br></br>
			<%else%>
			 <% if @user.is_blocked(interest.id) == 1 %>
				<%= link_to "#{interest.name} (blocked)" , 
{:controller => 'users', :action => 'int_toggle', :id => interest.id }, 
class: "btn btn-danger"%></br></br>				
		<%else%>
   		  <%= link_to interest.name, 
{:controller => 'users', :action => 'int_toggle', :id => interest.id }, 
class: "btn btn-danger"%></br></br>
			
			<%end%>
			
			<%end%>
		<!-- Kareem -->
		  </td>

		<!-- check if the user has added this Interest .. if its added a Filter by Interest button appers to Filter according to that Interest -->

		<!--	 if @user_interests.include?(interest.id) --> 
		<td>
	
	<%= link_to "Filter by "+interest.name, 
	{:controller => "users", :action => "feed", :interest => interest.name}, 
	class: "btn btn-primary" %></br></br>
		</td>
		<!-- Kareem -->
		<%end%>
   	
		<!-- Kareem -->
	</table>
		<!-- Kareem -->
	</br></br>
	</div>
	
	<!-- added main feed button on click goes to main feed  -->
		<div align="center" >
			<%= link_to ' Main feed' , {:controller => 'users', :action => 'feed'} , 
class: "btn" %></br>
		</div>
  </div>
  <%end%>	
</html>
