<html>
<head>
	<script>
	function fbs_click(u,t) {
	window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=50,height=50');return false;
	}
	</script>
</head>
<!-- back to main feed button -->
<div align="center">
<%= link_to_function image_tag('back-icon.png' , :style =>"width:40px;height:40px;"), "history.back()" %>
</div></br>
<!-- checking if selected story was not removes from database -->
<% if @story.nil? %>
 <div align="center" style="padding-down:10px;">
 <%= " the selected story was removed ! "%> </br></br>
 			   <%= link_to_function image_tag('back-icon.png' , :style =>"width:40px;height:40px;"), "history.back()" %>
	   </div></br> 
	   <%else%>
<!-- adding story title -->
 <div align="center">
        <h3> <%= @story.title %> </h3>
      </div>

<!--checking for media url if exsist adds the image-->

  <% if !@story.media_link.nil? && @story.media_link.length > 3%>
    <div align="center">
       <img src="<%=@story.media_link%>" width="220" align="center">
       </div></br>
  <%end%>
	 
	
<!-- checking for story category if RSS allow story functionalties if not remove from view -->
	<% if @story.category == "RSS" %>
		<div style="padding-left:10px;">
		
<!-- 3 cases for the like dislike buttons :
(1)either user didnt like or dislike before therefore display both buttons  
(2)the user liked this story before therefore remove the like button and only display the dislike button
(3)the user disliked this story before therefore remove the dislike button and display the like button only -->
		
 <!-- adding like and dislike button if user didnt like or dislike before and number of likes dislikes for this story  -->
 <% if @action1 == [] && @action2 == [] %>

<%= link_to image_tag('likecopy.png' , :style =>"width:25px;height:25px;"), {:controller => 'likedislikes' , :action => 'thumb' , :sid => @story.id  , :act => 1 }%> 
<!-- checks for number of likes and dislikes per story -->
 <% if @likes.length > 0 %>
<% @a = "#{@likes.length} people like this." %>
 <%=link_to(@a , {:controller => "stories", :action => "liked_mobile_show", :id => (@story.id)})%>
 <%else%>  
 <%= "thumb up"%>
 <%end%></br>
 
<%= link_to image_tag('dislikekh.png' , :style =>"width:25px;height:25px;"), {:controller => 'likedislikes' , :action => 'thumb' , :sid => @story.id  , :act => -1}%>
  <% if @dislikes.length > 0 %>
  <% @a = "#{@dislikes.length} people dislike this." %>
  <%=link_to(@a, {:controller => "stories", :action => "disliked_mobile_show", :id => (@story.id)})%>
  <%else%>
  <%= "thumb down"%>
  <%end%>
  <%end%>
  <%end%>
  
<!-- if user liked this story before remove like button and only adds dislike button -->
<!-- checks for number of likes and dislikes per story -->
  <% if @action1 != [] && @action2 == [] %>
  	<% @a = "you and #{@likes.length-1} people like this." %>
  	<% if @likes.length > 1 %>
  	 <%=link_to(@a , {:controller => "stories", :action => "liked_mobile_show", :id => (@story.id)})%>
  	 <%else%>
  	 <%= "you like this."%>
  	 <%end%>
  	 </br>
 	<%= link_to image_tag('dislikekh.png' , :style =>"width:25px;height:25px;"), {:controller => 'likedislikes' , :action => 'thumb' , :sid => @story.id  , :act => -1}%>
  <% if @dislikes.length > 0 %>
  <% @a = "#{@dislikes.length} people dislike this." %>
  <%=link_to(@a , {:controller => 'stories', :action => 'disliked_mobile_show', :id => (@story.id)})%>
  <%else%>
  <%= "thumb down"%>
  <%end%>
  
  <%end%>
  </br>
  
  <!-- if user disliked this story before remove dislike button and only adds like button -->
  <!-- checks for number of likes and dislikes per story -->
  <% if @action2 != []  && @action1 == [] %>
	
	
<%= link_to image_tag('likecopy.png' , :style =>"width:25px;height:25px;"),{ :controller => 'likedislikes' , :action => 'thumb' , :sid => @story.id  , :act => 1}%>
	 <% if @likes.length > 0 %>
 		<% @a = "#{@likes.length} people like this." %>
 		<%=link_to(@a , {:controller => 'stories', :action => 'liked_mobile_show', :id => (@story.id)})%>
	 <%else%>
		 <%= "thumb up"%>
 	<%end%>
	</br>
	<% if @dislikes.length > 1 %>
	<% @a = "you and #{@dislikes.length-1} people dislike this." %>
  	  <%=link_to(@a , {:controller => 'stories', :action => 'disliked_mobile_show', :id => (@story.id)})%>
  	 <%else%>
  		 <%= "you dislike this."%>
  	 <%end%>
	

  <%end%>
	
 
 <%end%>
 	 
<!-- adds content of story  -->
 <% if !@story.mobile_content.nil?  && @story.mobile_content.length > 0 %>
 <div class="story-comment-box-mobile well" style="padding-left:10px;">
 <%= @story.mobile_content %>
 </div>
 <%end%>

	<% if @story.category == "RSS" %>

<!-- recommend buttons  1) facebook button 2)twitter button 3)La2etlak button -->
  
<!--$$$$$$$$$$$$$$$$ Mina Adel $$$$$$$$$$$$$$$$ -->

   &nbsp;
<!-- I create the facebook sharer url with the media link, then I put it into the url part of the button -->
  <% media_url = @story.story_link%>
  <% facebook_url = "http://www.facebook.com/share.php?u="+media_url+" onclick=return fbs_click('http://www.google.com/', 'Google') target=\"_blank\">Share on Facebook"%>
    <a href=<%=facebook_url%>><img src = "http://dcbdluf1ahqio.cloudfront.net/facebook/32x32.png" height="30" width="30"></a>
  <!-- I create the twitter sharer url with the media link along with the message "Shared via La2etlak Nokia App", then I put it into the url part of the button -->
	<% twitter_url = "http://twitter.com/intent/tweet?url="+@story.story_link+"&text=Shared%20via%20La2etlak%20Nokia%20App" %>
    <a href=<%=twitter_url%>><img src = "http://dcbdluf1ahqio.cloudfront.net/twitter/32x32.png" height="30" width="30"></a>
  <!-- This is a link to the share controller, which calls the method user_share_story with a the story id as a parameter -->
    <%= link_to("La2etlak" , {:controller => 'shares', :action => 'user_share_story', :id => @story.id} )%></br>
<!--$$$$$$$$$$$$$$$$ Mina Adel $$$$$$$$$$$$$$$$ -->

<!-- recommend button -->
   &nbsp;<%= link_to image_tag('reco.jpg' , :style =>"width:35px;height:25px;")  + "Recommend" , {:controller => 'stories' , :action => 'recommend_story_mobile_show' , :sid => @story.id }%>
<!-- flag button -->
   &nbsp;<%= link_to image_tag('flag.png' , :style =>"width:25px;height:20px;")+  "Flag" , {:controller => 'flags' , :action => 'flag' , :sid => @story.id }%></br>
   
<!-- Comments area, to comments and up or 
     any comments
     Author: Menisy-->
    <div style="padding-left:3px;float:left;">
    <h4> Comments </h4>
</div>
<br>
<br>
<div style="width:95%;">
    <% comments = Comment.find_all_by_story_id(@story.id) %>
    <% comments.each do |comment| %>

    <div class="story-comment-box-mobile well" style="float:left;clear:both;width:90%;margin:0.5%">
        <h5 style="padding-left:3%;padding-top:1px;">    <%= comment.user.name %> says:</h5>
        <div style="clear:both;padding:1px;">
            <a href="#" style="float:left;padding-right:5px;padding-left:3px;padding-top:10px;" align="top"> <img
                    src="http://placehold.it/50x50">
            </a>
            <div style="padding-top:10px;padding-bottom:5px;">
                <%= comment.content %>
            </div>
        </div>
        <ul class="nav">
            <% pic = nil %>
            <% if comment.downed_by_user?(current_user) then%>
                <% pic = "un-dislike.png" %>
            <% else %>
                <% pic = "dislikekh.png" %>
            <% end %>
            <li><%= link_to (image_tag (pic)) ,{:action=> :down_comment, :user_id => params[:id2], :comment_id => comment.id}, {:style =>'float:right;margin-right:4%;width:30px;height:30px;'} %>
            </li>
            <li>
                <h8 style="color:#b94a48;float:right;margin-right:1%;padding-top:2px;"> <%= comment.get_num_downs %>
                </h8>
            </li>
            <% pic2 = nil %>
            <% if comment.upped_by_user?(current_user) then%>
                <% pic2 = "un-like.png" %>
            <% else %>
                <% pic2 = "likecopy.png" %>
            <% end %>
            <li><%= link_to (image_tag (pic2)) ,{:action=> :up_comment, :user_id => params[:id2], :comment_id => comment.id}, {:style =>'float:right;margin-right:1%;width:30px;height:30px;padding-bottom:5px;'} %>
            </li>
            <li>
                <h8 style="color:#468847;float:right;margin-right:1%;"> <%= comment.get_num_ups %>
                </h8>
            </li>
        </ul>
    </div>
<% end %>
</div>
<div style="width:95%">
    <%= form_for(@comment) do |f| %>
    <div class="story-comment-box-mobile well" style="padding-left:3px; clear:both;width:margin:0.5%">
        <div style="margin-left:0.5%;">
            Enter a comment:
        </div>
        <%= f.text_area :content, :class => "story-textarea-mobile" %>
    </div>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.hidden_field :story_id, :value => @story.id %>
    <div class="actions" style="padding:20px;float:right;">
        <%= f.submit "comment" ,:class => "btn btn-large" %>
        <% end %>
    </div>
</div>
 
 
 
 
 
 
<!-- block story link -->
   	<%=link_to('Block story' , {:controller => 'users', :action => 'block_story', :id => (@story.id)})%> &nbsp;
   	
<!-- block interest link -->
   	<%=link_to('Block interest' , { :controller => 'users', :action => 'block_interest', :id => (@story.id)})%></br>
   	
  
   	
<!-- when was the story added to our system -->
	Added on <%= @story.created_at %></br></br>

	<%end%>
 </div>
   
</html> 	

