<div align="center">
	<% if @friends.empty? %>
		<%= render 'shared/logs_error_messages'%><!-- error message if the user has no friends who liked this story -->
		<br>
		<table>
			<tr>
				<td>
					<%= link_to 'back',{:controller => 'stories', :action => 'get', :id => @storyid},  class: "btn btn-small" %> 
				</td>
				<td>
					<%= link_to 'find friend',{:controller => 'friendships', :action => 'search'},  class: "btn btn-small" %>  
				</td>
			</tr>
		</table>
	<% else %>
		<div id="liked">
			<p>
				 friends liked
      </p>
			<% @friends.each do |f| %><!-- list of friends who liked the story -->
				<%=f%>
				<br>
			 <%end%>
			<div align="center"> 
				<%= link_to 'back',{:controller => 'stories', :action => 'get', :id => @storyid},  class: "btn btn-small" %> 
			</div>
		</div>
	<% end %>
</div>
