<div "id=submit" align="center">
		<form action="/mob/stories/recommend_success_mobile_show/<%= @storyid%>", id="recommendation"><!-- form which the user fill input in -->
		<%if @flistemail.empty?%>
			 <p style="color:darkblue">
					sorry, you don't have any friends you can find more friend through find friend button 
			</p>
			<%else%>
				choose friend email
				<br>
				<% @flistemail.each do |f| %><!-- list of friends email-->
					<input type="radio" name="lemail" value=<%=f%>><%=f%>
					<br> 
				<%end%>
		<%end%>
		<p>
			email: 
		</p>  
		<input type="text" name="email" id="fmail" style ="height:30px; width:200px" placeholder ="E-mail"/>
		<br>
		<p>
			message: 
		</p>
		<input type="text" name="message" style ="height:30px; width:200px" placeholder ="Message"/>
		<br>  
		<input type="submit" name="commit" value="send" style= "width:100px" />
	</form>	
	<table id="options">
		<tr>
			<td>
				<%= link_to 'back',{:controller => 'stories', :action => 'get', :id => @storyid},  class: "btn btn-small" %> 
			</td>
			<td>
				<%= link_to 'find friend',{:controller => 'friendships', :action => 'search'},  class: "btn btn-small" %>  
			</td>
		</tr>
	</table>
</div>
