<!-- Mina Adel, Yahia El Gamal -->
<html>
	<body>
		<div align="center">
			<%= link_to "Connect social accounts", {:controller => 'users', :action => 'connect_social_accounts'}, class: "btn span", style: "margin:2%"%>
			<%= link_to "Friends", {:controller => 'friendships', :action => 'index'}, class: "btn span", style: "margin:2%" %>

			<%= link_to "Main feed", {:controller => 'users', :action => 'feed'}, class: "btn span", style: "margin:2%"%>
			<%= link_to "Manage blocked stories", {:controller => "users", :action => "manage_blocked_stories"}, class: "btn span", style: "margin:2%"%>
			<%= link_to "Modify info", {:controller => 'users', :action => 'edit'}, class: "btn span", style: "margin:2%" %>
			<%= link_to "Toggle interests", {:controller => 'users', :action => 'toggle'}, class: "btn span", style: "margin:2%"%>
			<% if !@user.verification_code.verified %>
			<%= link_to "Verify account", {:controller => 'users', :action => 'verifySettings'}, class: "btn span", style: "margin:2%"%>
			<%= link_to "Logout", logout_path, class: "btn btn-danger span", style: "margin:2%"%>
			<% end %>
		</div>
	<body>
</html>
<!-- Mina Adel, Yahia El Gamal -->
