<%= render 'shared/all_flash' %>
<div class="container-fluid maindiv">

  <div class="row-fluid">
    <!--This is the left panel of the user profile page that contains main info of user as his image and if his image is nil then will display the default image for our application along with his status whether active or non-active along with his email-->
    <div class="sidebar-nav-fixed">
      <ul class="nav nav-list left_panel-user-profile-page ">
        <div class="user-image">
           <a href="/users/<%= @user.id%>">
                   
                <% if @user.image.nil? || 
                      @user.image == "" %>
                     <%= image_tag "logo.jpeg",:class => "img-user-img"%>
                  <% else %>
                    <img src= "<%= @user.image %>" 
                      width="15%" style="height:15%"/>
                  <% end %> 
           </a>
        </div>
         <div id="user-personal-info"> 
           <li class="nav-header">Email:-</li>
           <li class="divider"></li>
           <li>
             <span class="label label-info" id="my-email"><%= @user.email %> </span>
           </li>
           <li class="divider"></li>
           <li class="nav-header">Name:-</li>
           <li class="divider"></li>
           <li>
             <span class="label label-info" id="my-email">
              <% if @user.name.nil? %>
                     <%= @user.email.split("@")[0]%>
                  <% else %>
                   <%= @user.name %>
                  <% end %> 
             </span>
           </li>
           <li class="divider"></li>
           <li class="nav-header">Status:-</li>
           <li class="divider"></li>
           <li>
             <span id="is-active">
             <% if @user.deactivated %>
               <span class="label label-important">Deactivated</span> 
             <% else %>
               <span class="label label-success">Active</span> 
             <% end %>
              
           </li>
           <li class="divider"></li>
         

         </div>
       </ul>
     </div>
      <!--This is the main panel of the user profile page that contains three tabs the first one contains the recent activity of that user in the form of log message and all related variables in that log in the form of links to these variables show page whether these variables are stories, other users or interests and when this log occured with respect to the current time, The second one contains a list of user components of this user's friends, The third one contains a list of interests that the user is subscribed to as a list of interests' components-->
     <div class="main-user-profile-page">
      <div class="middle-user-profile-page-panel" >
          <ul id="myTab" class="nav nav-tabs ">
            <li class="active"><a href="#recentActivity" data-toggle="tab">
              <h3 class="interest-page-text">Recent Activity </h3></a></li>
            <li><a href="#friends" data-toggle="tab"><h3 class="interest-page-text">Friends</h3></a></li>
            <li><a href="#interests" data-toggle="tab"><h3 class="interest-page-text">Interests</h3></a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="recentActivity">
              <table class="table table-striped table-bordered">
                <tbody>
                  <% if @logs== [] %>
                    No recent Activity
                  <% end %>
                  <% if @logs != nil %>
                    <% @logs.each do |l| %>
                      <tr >
                
                        <td><%=  l.message %></td>
                        <td><%=  if(l.user_id_1 != nil and l.user_id_1 != @user.id)
                         link_to User.find(l.user_id_1).name,{:controller => 'users', :action => 'show', :id => l.user_id_1 },  class: " btn btn-primary btn-danger"   
                           end%>
                            <%= if(l.user_id_2 != nil and l.user_id_2 != @user.id)
                            link_to User.find(l.user_id_2).name,{:controller => 'users', :action => 'show', :id => l.user_id_2 }, class: "btn btn-primary  btn-danger"  
                            end%>
              
                            <%= if(l.story_id != nil)
                            link_to Story.find(l.story_id).title,{:controller => 'stories', :action => 'show', :id => l.story_id },class: "btn btn-primary  btn-warning"  
                            end%>
                            <%= if(l.interest_id != nil)
                           link_to Interest.find(l.interest_id).name,{:controller => 'interests', :action => 'show', :id => l.interest_id },  class: "btn btn-primary  btn-success" 
                            end%>
                        </td>
                        <td class="logs-table-row"><%= time_ago_in_words(l.created_at) + " ago" %></td>
                      </tr>
                    <% end %>
                  <% end %>
              </tbody>
             </table>
             
            </div>
            <div class="tab-pane fade" id="friends">
              <% if (@friends.length) == 0 %>
                 No Friends Available.
               <% end %>
              <% @friends.each do |friend| %>
                 <div class="well-user-component">
                   <a href="/users/<%= friend.id%>"class="thumbnail-user-component">
                   
                     <% if friend.image.nil? || 
                      friend.image == "" %>
                     <%= image_tag "logo.jpeg", :size => "75x75" %>
                     <% else %>
                      <img src= "<%= friend.image %>" 
                      width="75" style="height:75px"/>
                     <% end %> </a>
                   <div class="user-component-info">
                     <h3><%= friend.email %>
                     </h3>
                     <%= link_to "view Statistics", 
                      {:controller => 'statistics', :action => 'users', :id => friend.id}, 
                        class: "user-component-button-absolute btn btn-primary"%>
                   </div>
                 </div>
              <% end %>
            </div>
            <div class="tab-pane fade" id="interests">
                 <% if @interests.length == 0 %>
                 No interests Available.
                 <% end %>
                 <% @interests.each do |interest| %>
                   <div class="well-interest-component">
                     <a href="/interests/<%= interest.id%>"
                       class="thumbnail-interest-component">
                       <% if interest.photo.file? %>
                         <img src= "<%= interest.photo.url(:small) %>" width="75" style="height:75px"/>
                       <% else %>
                          <%= image_tag "logo.jpeg", :size => "75x75" %>
                       <% end %>
                     </a>
                     <div class="interest-component-info">
                       <h2><% if interest.name.nil? %>
                            <%= "No Name Available" %>
                           <% else %>
                            <%= interest.name  %>
                           <%  end %>
                       </h2>
                       <%= link_to "view Statistics", 
                      {:controller => 'statistics', :action => 'interests',:id => interest.id }, 
                        class: "interest-component-button-absolute btn btn-primary"%>

                     </div>
                   </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
       <!--This is the right panel of the user profile page that contains three buttons button used to deactivate the user, one to go to his statistics page and the third one to reset his password-->
      <div class="sidebar-nav-fixed-right">
        <ul class="nav nav-list ">
          <li class="nav-header">Go to statistics Page</li>
          <li class="divider"></li>
          <%= link_to('Statistics', {:controller => 'statistics', :action => 'users', :id => @user.id}, class: "btn btn-large btn-primary", id: "statistics_button") %>
          
          <li class="divider"></li>
          <li class="nav-header">Reset the password for this user</li>
          <li class="divider"></li>
           <%= link_to('Reset Password', {:controller => 'users', :action => 'force_reset_password', :id => @user.id}, class: "btn btn-large btn-primary", id: "reset_password_button") %>
          
          <li class="divider"></li>
          <li class="nav-header">Ban this user</li>
          <li class="divider"></li>
          
          <% if @user.deactivated %>
            <div id="myModal" class="modal hide fade in" style="display: none; ">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">×</button>
              <h3>Confirmation message</h3>
            </div>
            <div class="modal-body">
              <h4>Are you sure you want to activate this user ?</h4>
              
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-large" data-dismiss="modal">Cancel</a>
              <%= link_to('Activate', {:controller => 'users', :action => 'activate', :id => @user.id}, class: "btn btn-large btn-success", id: "deactivate_button") %>
            </div>
            </div>
            <a data-toggle="modal" href="#myModal" class="btn btn-success btn-large">Activate</a>
              
            <% else %>
            <div id="myModal" class="modal hide fade in" style="display: none; ">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">×</button>
              <h3>Confirmation message</h3>
            </div>
            <div class="modal-body">
              <h4>Are you sure you want to deactivate this user ?</h4>
              
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-large" data-dismiss="modal">Cancel</a>
              <%= link_to('Deactivate', {:controller => 'users', :action => 'deactivate', :id => @user.id}, class: "btn btn-large btn-danger", id: "deactivate_button") %>
            </div>
          </div>
            <a data-toggle="modal" href="#myModal" class="btn btn-danger btn-large">Deactivate</a>
              
            <% end %>
        </ul>
      </div>
  </div>
</div>




