<%= link_to('Go to statistics page', {:controller => 'statistics', :action => 'users', :id => @user.id}, class: "btn btn-large btn-primary") %>

<html>
<head>
<style>

h2 {font-size:20px;color:#06276F}
h3 {font-size:20px;color:#06276F}
p1 {font-size:18px;}
p2 {font-size:14px;}
p3 {font-size:14px;}
</style>
</head>
<body>


      <h1>
          <font size="35" face="arial" color=#06276F>
        <br/><%= @user.name %><br/><br/>
		         <%= @user.email %><br /><br />
           </font>
         
      </h1>
	  
	  <h2>
	  	   Activated : <%= @user.deactivated %><br /><br /> 
	  </h2>
    
 <strong>User's URL : </strong> <%= link_to user_path(@user), @user %><br />
       <strong> </strong> <%= link_to "Show Statistics", '#', :class => "statistics_button round" %><br />
       <strong> </strong> <%= link_to "Edit User", '#', :class => "edit_button round" %><br />
       <strong> </strong> <%= link_to "Delete User", '#', :class => "delete_button round" %></br>

</body>
</html>




