<%= link_to('Go to statistics page', {:controller => 'statistics', :action => 'users', :id => @user.id}, class: "btn btn-large btn-primary") %>

<html>
<head>
<style>

h2 {font-size:20px;color:#06276F}
h3 {font-size:20px;color:#06276F}
p1 {font-size:18px;}
p2 {font-size:14px;}
p3 {font-size:14px;}
</style>
</head>
<body>

				<!-- Showing The User_Name And Email -->
      <h1>
          <font size="35" face="arial" color=#06276F>
        <br/><%= @user.name %><br/><br/>
		         <%= @user.email %><br /><br />
           </font>
         
      </h1>
	  
				<!-- Showing The User Activation Status -->
	  <h2>
	  	   Activated : <%= @user.deactivated %><br /><br /> 
	  </h2>
<table>
<tr> <%= @user.first_name %> </tr>
<tr> <%= @user.last_name %>  </tr>
<tr>    <%= @user.id %> </tr>
    


</table>
</body>
</html>







