    	<div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Content
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <%= @story.content%>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  Statistics
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  Shares = <%= Share.find_all_by_story_id(@story.id).length%> <br>
                  Ups = <%= Likedislike.find_all_by_story_id_and_action(@story.id,1).length%><br>
                  Downs = <%= Likedislike.find_all_by_story_id_and_action(@story.id,2).length%>		
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                  Comments
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                  <% comments = Comment.find_all_by_story_id(@story.id) %>
                  <% comments.each do |comment| %>
                  <%= User.find(comment.user_id).name %> says: <br>
                  <%= comment.content %> <br>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          </div>
