<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lecturer.name %>
</p>

<p>
  <b>Faculty:</b>
  <%= @lecturer.faculty %>
</p>


<%= link_to 'Edit', edit_lecturer_path(@lecturer) %> |
<%= link_to 'Back', lecturers_path %>
