<script type="text/javascript" charset="utf-8">
    
  var $j = jQuery.noConflict();
  $j(document).ready(function() {
      
       var arrayNames = [] ;
       var arrayRanks = <%= Interest.get_top_interests_ranks[0..4]%>;
        <% Interest.get_top_interests_names[0..4].each do |name|%>
          arrayNames.push("<%= name %>");
          
        <% end %>
       
       if (arrayNames.length == 0)
       {
         document.getElementById("noInterest").style.display= "block";  
         document.getElementById("ccc").style.display= "none"; 
         document.getElementById("genInfo").style.display= "none"; 
       }
       else if(arrayRanks[0] == 0)
       {
          document.getElementById("noInterest").style.display= "block";  
         document.getElementById("ccc").style.display= "none"; 
         document.getElementById("genInfo").style.display= "none";
       }
      var title="Top Interests";
      var container="ccc";
      Pie_chart(arrayNames,arrayRanks,title,container);
   });
</script>


<div class="row-fluid">
   <div class="span3">
      <!--Sidebar content-->
      <div class="well sidebar-nav">
    <ul class="nav nav-list">
    
      <li class="nav-header">
        Statistics
      </li>
      <li>
       <%= link_to "Users", {controller: 'statistics' ,action: 'all_users'} %>
      </li>
       <li class="active">
       <%= link_to "Interests", {controller: 'statistics' ,action: 'all_interests'} %>
       </li>
        <li>
       <%= link_to "Stories", {controller: 'statistics' ,action: 'all_stories'} %>
       </li>
 
     </ul>
    </div>
    </div>

    <div class="span6">
       
<div class="alert-error" id="noInterest" style="display: none;">

           
           <h2><strong>Warning!</strong> No interests were created or cannot rank them.</h2>
     </div>

<div id="ccc"></div>
<div class="general info" id ="genInfo">
            <% Interest.get_top_interests_names.each do |name|%>
            <%= name.to_s %>
            <% end %>
            <!--Here we'll get the general infor of top interests:-->
            <h4><div class="alert alert-info"> 
            </div></h4>
            
          
          </div>
          </div>
          </div>
