<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
      //get The users' array of arrays of data
      data= <%= User.get_all_users_stat %>;
      if (data.length != 0) {
      //the graphs that we want to show
      names=["Registered Users","Logged in"]; 
      //the time interval between one point and another in the graph.
      pointInterval= <%= 1.day * 1000 %>; 
      // Start point of the graph.
      x= <%= User.get_all_users_start_date %>;
      if(x != -1) {
      pointStart= <%= User.get_all_users_start_date.days.ago.to_i * 1000 %>;
      //Label for x-axis
      xl="Day"; 
      yl="Number";
      titleOfGraph="All Users Statistics"; 
      //call the method that renders the graph with the calculated parameters.
     document.getElementById("noUser").style.display= "none"; 
      Graph(data,names,pointInterval,pointStart,xl,yl,titleOfGraph); 
      } else {
       document.getElementById("noUser").style.display= "block";  
        document.getElementById("ccc").style.display= "none"; 
      }
      } else {
        document.getElementById("noUser").style.display= "block";  
        document.getElementById("ccc").style.display= "none"; 
      }
     
   });
</script>
<div class="row-fluid">
   <div class="span3">
      <!--Sidebar content-->
      <div class="well sidebar-nav">
    <ul class="nav nav-list">
    
      <li class="nav-header">
        Statistics
      </li>
      <li class="active">
       <%= link_to "Users", {controller: 'statistics' ,action: 'all_users'} %>
      </li>
       <li>
       <%= link_to "Interests", {controller: 'statistics' ,action: 'all_interests'} %>
       </li>
        <li>
       <%= link_to "Stories", {controller: 'statistics' ,action: 'all_stories'} %>
       </li>
 
     </ul>
    </div>
    </div>
    <div class="span9">
<div class="alert" id="noUser" style="display: none;">
  
           <a class="close" data-dismiss="alert">×</a>
           <h1><strong>Warning!</strong> No Users in our database Yet.</h1>
     </div>

<div id="ccc"></div>
<div class="general info">
            
            <!--Here we'll get the number of users in the system:-->
            <h4><div class="alert alert-info">Number of users who are registered in the System: 
            <%= User.all_user_registered %>
            </div></h4>
            
          
          </div>
          </div>
          </div>
