<%= link_to('Go to statistics page', {:controller => 'statistics', :action => 'stories', :id => @story.id}, class: "btn btn-large btn-primary") %>
<p>Story description and content </br></p> 
<table>
<%= @story.id %>
<%= @story.title %>
<%= @story.body %>
<% @comments.each do |comment| %>
<tr>
    <td><%= comment.id %></td> 
    <td><%= comment.content %></td>
    <td><%= comment.user_id %></td>
    <td><%= comment.story_id %></td>
</tr>
<%end%>
</table>
    

    
